body{
    font-family: 'Barlow', sans-serif;
    background-color: #f5f5dc;
    color: #333;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #e6e6da;
    }
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
#profile-pic{
    height: 180px;
    margin-left: 25px;
    border-radius: 50%;
    position: relative;
}
.icon{
    width: 20px;
}
#contact{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 260px;
    margin-top: 45px;
    position: relative;
    left: 10px;
}
#linkedin{
    vertical-align: 20px;
}
li{
    list-style:circle;
}
.icon {
    display: inline-block;
    vertical-align: text-bottom;
}

footer{
    text-align: center;
    font-size: small;
}