body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Barlow', sans-serif;
    background-color:antiquewhite;
}
a{
    text-decoration: none;   
}
h1{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}
#profile-pic{
    width: 100px;
    margin-left: 5%;
    text-align: center;
}
.icon{
    width: 20px;
}
#contact{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 300px;
    margin: 0;
}
#linkedin{
    vertical-align: 20px;
}