body{
    font-family: 'Barlow', sans-serif;
    background-color: #f5f5dc;
    color: #333;
}

#profile-pic{
    height: 180px;
    margin-left: 25px;
    border-radius: 50%;
    position: relative;
    border: #e6e6da solid 4px;
    box-shadow: 5px 5px 10px #333;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: 'Ubuntu', sans-serif;
}

h3{
    margin-bottom: 0px;
}

p{
    margin-top: 10px;
}

.icon{
    width: 20px;
}

#contact{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 260px;
    margin-top: 45px;
    position: relative;
    left: 10px;
}

#linkedin{
    vertical-align: 20px;
}

li{
    list-style:circle;
}

.icon {
    vertical-align: text-bottom;
}

footer{
    text-align: center;
    font-size: small;
}

.skills > ul{
    display: flex;
    gap: 30px;
}

.experience li{
    list-style: none;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #e6e6da;
    }
    #profile-pic{
        box-shadow: 5px 5px 10px #000;
    }
}

@media (max-width: 511px){
    #contact{
        margin-top: 10px;
    }
    
    .skills > ul{
        display: block;
    }
}