html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:antiquewhite;
}
a{
    text-decoration: solid;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
